
@font-face {
    font-family: "AlexanderLetter";
    src: url(../css/AlexanderLetter.otf);
}
@font-face {
    font-family: "BebasRegular";
    src: url(../css/BebasRegular.otf);
}
@font-face {
    font-family: "Roboto";
    src: url(../css/RobotoRegular.ttf);
}
.contenedor1{
    background-image: url(../img/otrobanner.png);
    background-repeat: no-repeat;
}
.titulo{
    color: white;
    font-family: "AlexanderLetter";
    font-size: 165px;
    position: absolute;
    top:35%;
    left: 48%;
}
.subtitulo{
    color: white;
    font-family: "BebasRegular";
    font-size: 55px;
    position: absolute;
    top: 55%;
    left: 47%;
}
.parrafo1{
    color: white;
    font-family: "Roboto";
    font-size: 25px;
    position: absolute;
    top: 70%;
    left: 40.5%;
}
.parrafo2{
    color: white;
    font-family: "Roboto";
    font-size: 25px;
    position: absolute;
    top: 90%;
    left: 45%;
}
.texto1{
    text-align: center;
}
.box1{
    font-family: "Roboto";
}
.contenedor2{
    background-image: url(../img/escritoriogenerico2.png);
    background-repeat: no-repeat;
}
.titulo1{
    position: absolute;
    bottom: -25rem;
    left: 15rem;
    font-family: "BebasRegular";
    color: white;
    font-size: 65px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: center;
}
.subtitulo1{
    position: absolute;
    bottom: -33rem;
    left: 18rem;
    font-family: "Roboto";
    color: white;
    font-size: 30px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: center;
}
.contenedor3{
    background-image: url(../img/otrobannerinvertido.png);
    background-repeat: no-repeat;
    padding: 2rem;
}
.presentacion{
    font-family: "Roboto";
    font-size: 20px;
}
.card{
    font-family: "Roboto";
}