@font-face {
    font-family: "AlexanderLetter";
    src: url(../css/AlexanderLetter.otf);
}
@font-face {
    font-family: "BebasRegular";
    src: url(../css/BebasRegular.otf);
}
@font-face {
    font-family: "Roboto";
    src: url(../css/RobotoRegular.ttf);
}
$fontAlex: "AlexanderLetter";

$fontBebas: "BebasRegular";

$fontRob: "Roboto";

$mainColor: white;